
/* pseudo anchor */
/* link */
a,
.g-link {
    cursor: pointer;
    color: #0073b8;
    text-decoration: underline;
    -moz-transition: color 0.1s ease;
    transition: color 0.1s ease;
    }
    .webkit a,
    .webkit .g-link {
        -webkit-transition: none;
        transition: none;
        }
    a:hover,
    a.state_hover,
    a:active,
    a:visited:hover,
    .g-link:hover,
    .g-link-text:hover {
        color: #777 !important;
        }
/* link like text */
.g-text {
    color: #000;
    }
    .a-text {
        text-decoration: none !important;
        }
/* resets mobile phone link styles */
a[href^=tel] {
    color: inherit;
    text-decoration: inherit;
    }



