
/* b-sbutton-set */
.b-sbutton-set {
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    position: relative;
    }
    .b-sbutton-set-cell {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        line-height: 18px;
        }
        .b-sbutton-set-cell .b-sbutton {
            margin: 0 !important;
            }

/* SPACING: 0 */
.b-sbutton-set.spacing_0 {
    display: inline-block;
    }
    .b-sbutton-set.spacing_0 .b-sbutton {
        
        }
        .b-sbutton-set.spacing_0 .b-sbutton .b-sbutton-text {
            border-radius: 0;
            border-left: 1px solid;
            }
        .b-sbutton-set.spacing_0 .b-sbutton:first-child {
            margin-left: 0;
            }
            .b-sbutton-set.spacing_0 .b-sbutton:first-child .b-sbutton-text {
                border-left: none;
                }
        .b-sbutton-set.spacing_0 .b-sbutton:last-child {
            
            }
            .b-sbutton-set.spacing_0 .b-sbutton:last-child .b-sbutton-text {
                
                }
    /* Scheme gray */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_gray .b-sbutton-text {
        border-left-color: #a7a7a7;
        }
    /* Scheme black */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_black .b-sbutton-text {
        border-left-color: #111;
        }
    /* Scheme blue */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_blue .b-sbutton-text {
        border-left-color: #0d57a1;
        }
    /* Scheme yellow */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_yellow .b-sbutton-text {
        border-left-color: #ffaa00;
        }
    /* Scheme red */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_red .b-sbutton-text {
        border-left-color: #bf1300;
        }
    /* Scheme green */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_green .b-sbutton-text {
        border-left-color: #00a611;
        }
    /* Scheme ivory */
    .b-sbutton-set.spacing_0 .b-sbutton.set_system.scheme_ivory .b-sbutton-text {
        border-left-color: #c4beb5;
        }
/* SPACING: 1 */
.b-sbutton-set.spacing_1 {
    margin: 0 -5px;
    }
    .b-sbutton-set.spacing_1 .b-sbutton,
    .b-sbutton-set.spacing_1 .b-sbutton-set-cell {
        margin: 0 5px;
        }
/* SPACING: 2 */
.b-sbutton-set.spacing_2 {
    margin: 0 -10px;
    }
    .b-sbutton-set.spacing_2 .b-sbutton,
    .b-sbutton-set.spacing_2 .b-sbutton-set-cell {
        margin: 0 10px;
        }








